.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 300px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (min-width: 569px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 800px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}



.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: .5rem;
    background-color: #49d0b0;
    border-radius: 1rem;
    list-style: none;
    width: 145px;
    font-size: small;
    width: 120px;
}

.pokemon .number {
    text-align: end;
    color: #000;
    opacity: .3;
    font-size: .625rem;
}

.pokemon .name {
    color: white;
    margin-bottom: .25rem;
}

.pokemon .types {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pokemon .types .type {
    background-color: #61e1ca;
    color: #fff;
    padding: 0.25rem 0.5rem;
    margin: .125rem 0;
    font-size: .425rem;
    border-radius: .5rem;

}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail img {
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
    height: 50px;
}